body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.my-list {
    background-color: #81f7ef;
    padding: 8px 24px;
    width: 500px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #a881f7;
    box-shadow: 0 0 10px 2px #333333;
}

ol {
    margin: 12px;
}

.date {
    margin-top: 12px;
}
